# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
/*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md
201617-UM-BI-AD-EnunciadoTrabalho.pdf
ProjectAdditionalInfo.pdf
code/.Rplot01.png-wXYN
code/Flight Delays.Rproj
code/datasets/airlines.csv
code/datasets/airports.csv
code/datasets/flights.csv
code/plots/flights.byAirline.png
code/plots/map.airports.png
code/plots/time.metrics.png
code/plots/times.info.png
code/questions/airlines.times.png
code/questions/airports.dest.dendro.png
code/questions/airports.dest.heatmap.png
code/questions/airports.dest.kmeans.3.png
code/questions/airports.dest.kmeans.5.png
code/questions/airports.origin.dendro.png
code/questions/airports.origin.heatmap.png
code/questions/airports.origin.kmeans.3.png
code/questions/airports.origin.kmeans.5.png
code/questions/delayed.tree.png
code/questions/times.monthly.png
code/sessions/flights.session
report/stage 1/201617-UM-AD-Relatorio.doc
report/stage 2/201617-UM-AD-Relatorio.doc
.Rproj.user
code/questions
